@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');

.card-body{
    width: 800px;
    margin-top: 50px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #ebdadb;
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
}

.list-group-item{
    padding-left: 2.0rem;
    color: #6e6e6e;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
}

.input-task{
    padding-left: 2.0rem;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;  
}

.li-item{
    list-style-type: none;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;  
    border: solid 0.01em #d3d3d3;
    padding-left: 30px;

}

span{
    padding-right: 10px;
    font-size: 32px;
    color: #d3d3d3;
    font-family: 'Work Sans', sans-serif;  
    float: right;
    padding-right: 10px;
}

.count-list{
    font-size: 16px;
    font-weight: bold;
    color: dimGray;
    padding-left: 10px;
}

// .card-header{
//     padding-left: 2.0rem;
//     font-size: 36px;
//     font-family: 'Work Sans', sans-serif;
// }