@import '~bootstrap/scss/bootstrap.scss';

.card-body{
    width: 800px;
    margin-top: 200px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}
.card-header{
    padding-left: 2.0rem;
}

.list-group-item{
    padding-left: 2.0rem;
}